/* --------- NAVBAR POCETAK ---------*/
body{
    font-family:gunplay regular ;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    background:#6CB4EE;
    height:48px;
    display:flex;
    width:100%;
    padding:0;
}
.xy{
    margin-left:15px;
}

#drop a{
    color:white;
}

.nav-link:hover{
    box-shadow: 0 2px aliceblue;
}


#searchbtn:hover{
    background:white;
    border:1px solid white;
    color:#87CEFA;
}
.dropdown-menu.show ul{
    margin:0;
}

.container-fluid{
    padding:0;
}

#searchbtn{
    color:white;
    border:1px solid white;
}
#autorizacija{
    position:absolute;
    right:15px;
    top:4px;
}

.dropdown-menu.show {
    background:#6CB4EE;
}
.dropdown-item:hover{
    background:#6CB4EE;
}


/* --------- NAVBAR KRAJ ---------*/








/* -------------- LOGIN PAGE POCETAK --------------*/

#logincontainer{
    width:500px;
    background:aliceblue;
    height:550px;
}
#row1{
    background:#6CB4EE;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:90px;
}
.input-group-text{
    height:38px;
}
#loginform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}
#loginfooter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login12{
    height:937px;
    background-image: url(/public/img/homebg.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
}

#logout1 a{
    text-decoration: none;
    color:white;
}
#logout1{
    position:absolute;
    right:15px;
}
/*
#dashboarddiv a{
    text-decoration: none;
    color:white;
    margin-left:15px;
}
#dashboarddiv a:hover{
    box-shadow: 0 2px aliceblue;
}
*/

#imeli{
    margin-left:15px;
}
#fbbtn{
    background:#4267B2;
    border:1px solid #4267B2;
    color:white;
}
#lgnbtn{
    background:#6CB4EE;
    border:1px solid #6CB4EE;
}

#porukap{
    padding:8px;
    margin:0;
    font-weight: bold;
    box-shadow: 0 2px #6CB4EE;

}


/* -------------- LOGIN PAGE KRAJ --------------*/








/* ------------- HOME PAGE POCETAK ----------------*/

#homebg{
    width: 100%;
    height:937px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/homebg.jpg);
    position:relative;
}
#homebg h1{
    font-size:9rem;
    color:white;
}
#homebg h3{
    color:white;
    font-size:5rem;
}

#newsinput{
    height:38px;
}
#newsform{
    display:flex;
    margin-left:15px;
}
#newsbtn{
    height:38px;
    margin-left:15px;
}
#newsletterdiv h4{
    margin:0;
}


#newsletterdiv{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:48px;
    background:#6CB4EE;
    position:absolute;
    bottom:0;
}


/* ------------- HOME PAGE KRAJ ----------------*/






/* ------------- FOOTER POCETAK ----------------*/

#contact{
    padding-top:28px;
}


#contactc{
    margin-top:15px;
    margin-bottom:15px;
}

footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa;
}

#footercontact a{
    text-decoration: none;
}
#cus{
    background:#212529;
}
label{
    padding:8px;
}
small{
    padding:8px;
}
#contactbtn{
    margin-top:15px;
    background:#212529;
    border:1px solid #212529;
}
#contactdiv{
    text-align:center;
}
#footercontact input{
    margin-bottom:8px;
}
#infodiv p{
    margin:0;
}
#mapsdiv{
    margin-top:10px;
    text-align: center;
    border:1px solid #212529;
}

.footera a:hover{
    color:#6CB4EE;
}

/* ------------- FOOTER KRAJ ----------------*/












/* ----------------- NADZORNA PLOCA POCETAK -------------*/
#nadzornaid{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    margin-bottom: 20px;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%;
}
.shadow-none {
    box-shadow: none;
}

.assignment{
    margin-right:8px;
}

svg{
    margin-right:8px;
}

.card6{
    background:aliceblue;
}

.nadzornali{
    list-style: none;
}
.nadzornaul{
    padding:0;
    margin:0;
}



/* ----------------- NADZORNA PLOCA POCETAK -------------*/





/* ----------------- TRENERI POCETAK -------------*/

#trainers{
    margin-top:15px;
    margin-bottom:15px;
    padding-top:15px;
    padding-bottom:15px;
    background:#e2e8f0;
}

.card-img-top{
    padding:15px;
}

.cbodyt{
    display:flex;
    justify-content: space-evenly;
}
.colt{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------- TRENERI KRAJ-------------*/
